USE [master]
GO
/****** Object:  Database [GearBuilder]    Script Date: 05/28/2019 9:36:13 PM ******/
CREATE DATABASE [GearBuilder]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GearBuilder', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\GearBuilder.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'GearBuilder_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\GearBuilder_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GearBuilder].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GearBuilder]
GO
/****** Object:  Table [dbo].[Gear]    Script Date: 05/28/2019 9:36:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gear](
	[HashStr] [int] NOT NULL,
	[GearName] [nvarchar](150) NULL,
	[Source] [nvarchar](50) NULL,
	[GearUrl] [nvarchar](250) NULL,
	[ImgUrl] [nvarchar](250) NULL,
	[Price] [int] NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Gear] PRIMARY KEY CLUSTERED 
(
	[HashStr] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
